
hackathon.iml

.idea/workspace.xml

service/service.iml

client/web/web.iml

client/ios/ios.iml

client/client.iml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/qaplug_profiles.xml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/Maven__junit_junit_3_8_1.xml

.idea/encodings.xml

.idea/compiler.xml

.idea/ant.xml

.idea/.name
